<!-- Encabezado de la pagina web -->

<div>
  <div class="cabezera">
    <nav>
      <div class="row ">
        <div class="col-8 logoHeader">
          <a href="#">
            <img src="../assets/image/loto.jpg" width="100" height="100" alt="">
          </a>
        </div>
        <div class="col-4 align-self-center">
          <button (click)="goHome()" class="btnHeader btn btn-outline-warning">Home</button>
          <button (click)="goLogin()" class="btnHeader btn btn-outline-info">Login</button>
          <button (click)="goRegister()" class="btnHeader btn btn-outline-success">Register</button>
        </div>
      </div>
    </nav>
  </div>
</div>
