.form-register{
  padding-left: 25ch;
  padding-right: 70ch;
  margin-top: 2ch;
  .form-group{
    margin-top: 1ch;
  }
}

.btn-register{
  padding-left: 40ch;
  margin-top: 2ch;
  .btn{
    margin: 1ch;
  }
}
